<% provide :photo_size, '80' %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info', object: current_user %>
    </section>
    <section class="micropost_form">
      <%= render 'shared/micropost_form' %>
    </section>

    <section class="other_link">
      <%= link_to 'Meeting Agendas', tempagendas_path %><br>
      <%= link_to 'Timer Tools', timer_path %><br>
      <%= link_to 'Pay Semi-annual Fee', static_pages_test_path %><br>
      <a href="http://nltmc.toastmastersclubs.org/Evenets.html">Announcements & Club Events</a><br>
      <a href="http://nltmc.toastmastersclubs.org/Resources.html">Resources</a><br>
      <%= link_to 'Gallery', static_pages_test_path %><br>
      <a href="https://www.youtube.com/watch?v=H9kqTO4w1nE&list=PL2iAr7GE8QKnP2rKTCyEcjorNPpKKzJ53">Youtube</a><br>
      <a href="https://www.facebook.com/nltmc/">Facebook</a><br>
      <a href="http://nltmc.toastmastersclubs.org/My_Toastmaster_Story.html">Members' Stories</a><br>
      <%= link_to 'Meet Masters of Toast', static_pages_test_path %><br><br>

      <%= Time.now.strftime "%Y-%m-%d %A" %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Feed</h3>
    <%= render 'shared/feed' %>
  </div>
</div>