<%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :email %> <span class="red_color"><%= yield(:must_fill_star) %></span> <span>(used to log in)</span>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.label :name %> <span class="red_color"><%= yield(:must_fill_star) %></span> <span>(displayed name)</span>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :phone, 'Phone Number' %>
    <%= f.telephone_field :phone, class: 'form-control' %>

    <%= f.label :password %> <span class="red_color"><%= yield(:must_fill_star) %></span>
    <span class="see_or_not"><span class="glyphicon glyphicon-eye-open"></span></span>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :password_confirmation, 'Confirmation' %> <span class="red_color"><%= yield(:must_fill_star) %></span>
    <%= f.password_field :password_1confirmation, class: 'form-control' %>

    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>

<script>
    $('.see_or_not').hover(function () {
        $('#user_password').attr('type', 'text');
    }, function () {
        $('#user_password').attr('type', 'password');
    });
</script>