<% provide :title, 'Agenda' %>

<h1>Edit Agenda</h1>

<%= form_for @tempagenda do |f| %>
    <div class="row">
      <div class="col-md-1"><span>For:</span></div>
      <div class="col-md-5">
        <%= f.date_select :for_date, {start_year: 2015}, class: 'all_inline' %>
      </div>
      <div class="col-md-2 col-md-offset-4">
        <%= link_to 'Version for Printing', tempagenda_path(@tempagenda), data: {confirm: 'When you use browser print function, make sure DESELECT [print header & footer] to avoid layout issue.'} %>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table">
        <tr>
          <th width="10%">Time Slots</th>
          <th width="70%">Role & Description</th>
          <th width="20%">Member</th>
        </tr>

        <tbody>
        <tr>
          <td>2 minutes</td>
          <td>
            <b>Welcomer</b><br>
            Welcome all to the Toastmasters International Meeting and introduce Toastmaster.</td>
          <td><%= f.select(:welcomer, User.all.collect {|user| [user.name]}, {include_blank: true}, class: 'form-control')  %></td>
        </tr>
        <tr>
          <td>2 minutes</td>
          <td>
            <b>Toastmaster of the day</b><br>
            Toastmaster of the Day (TOD) is responsible for emailing and filling missing roles for the meeting. Contact GE, humorist and speakers for BIO/Manual XX/ Project #/Topic/Personal Goals in advance. Optional: add the Theme of meeting at the bottom meeting note. For details of meeting role, see the back of Competent Communicator manual. During the meeting, TOD introduces each role. In the speaking section, TOD asks the evaluator to stand up and announce the speaker's project objectives and speaker's personal goals. Please come to the meeting early and write all meeting role names to the white board and UPDATE meeting agenda on website!
          </td>
          <td><%= f.select(:toastmaster, User.all.collect {|user| [user.name]}, {include_blank: true}, class: 'form-control')  %></td>
        </tr>
        <tr>
          <td>3 minutes</td>
          <td>
            <b>Wordmaster of the day</b><br>
            Print 2 copies of the word or Idiom of the day: One is put on the top of the lactern for speakers, and another is sticked on the lactern. Don’t concentrate on counting um's and ah's only but give feedback on points of grammar (both good examples and areas for improvement) as such. It is especially important to give advice to members who make mistakes common to Chinese learning English. Such as putting an 'a'; at the end of words and omitting prepositions or verbs; use correct 'He' and 'She', etc.
          </td>
          <td><%= f.select(:wordmaster, User.all.collect {|user| [user.name]}, {include_blank: true}, class: 'form-control')  %></td>
        </tr>
        <tr>
          <td>2 minutes</td>
          <td>
            <b>Timer</b><br>
            Explain timer role and request the speaker to pay attention to your timer flags: 6 min speech: green[5min], yellow[6min], red[7min], stop[7min 30sec]. Topic speech: green[1 min], yellow[1.5 min], red[2 min], stop[2min 30sec]. Elevator speech: green[2min], yellow[2.5min], red [3min], stop[3min 30sec]. Comment on the efficiency of the use of time for all parts of the meeting, rather than just the timing for those with roles – to give feedback on the time management of the whole meeting.
          </td>
          <td><%= f.select(:timer, User.all.collect {|user| [user.name]}, {include_blank: true}, class: 'form-control')  %></td>
        </tr>
        <tr>
          <td>3 minutes</td>
          <td>
            <b>Humorist</b><br>
            Start the meeting on a light-hearted note. See http://toastmasters.wikia.com/wiki/Jokemaster
          </td>
          <td><%= f.select(:humorist, User.all.collect {|user| [user.name]}, {include_blank: true}, class: 'form-control')  %></td>
        </tr>
        <tr>
          <td>5~7 minutes</td>
          <td>
            <b>Speaker 1</b><br>
            Deliver first prepared speech.
          </td>
          <td><%= f.select(:speaker1, User.all.collect {|user| [user.name]}, {include_blank: true}, class: 'form-control')  %></td>
        </tr>
        <tr>
          <td>5~7 minutes</td>
          <td>
            <b>Speaker 2</b><br>
            Deliver second prepared speech.
          </td>
          <td><%= f.select(:speaker2, User.all.collect {|user| [user.name]}, {include_blank: true}, class: 'form-control')  %></td>
        </tr>
        <tr>
          <td>5~7 minutes</td>
          <td>
            <b>Speaker 3</b><br>
            Deliver third prepared speech.
          </td>
          <td><%= f.select(:speaker3, User.all.collect {|user| [user.name]}, {include_blank: true}, class: 'form-control')  %></td>
        </tr>
        <tr>
          <td>5~7 minutes</td>
          <td>
            <b>Speaker 4</b><br>
            Deliver third prepared speech.
          </td>
          <td><%= f.select(:speaker4, User.all.collect {|user| [user.name]}, {include_blank: true}, class: 'form-control')  %></td>
        </tr>
        <tr>
          <td>15 minutes</td>
          <td>
            <b>Topics master</b><br>
            Demonstrate how Toastmasters helps people hone vital skills for impromptu speaking. Up to 8 topic speakers are allowed. Topic Speaker time: 1 - 2 min.</td>
          <td><%= f.select(:topicmaster, User.all.collect {|user| [user.name]}, {include_blank: true}, class: 'form-control')  %></td>
        </tr>
        <tr>
          <td>3 minutes</td>
          <td>
            <b>General Evaluator</b><br>
            Introduce evaluator, Grammarian, Timer and evaluate the evaluators and the meeting in general. Contact evaluator, Grammarian and Timer in advance. Provide constructive feedback (to include areas of improvement) about the entire meeting. For details of meeting role, see the back of Competent Communicator manual.
          </td>
          <td><%= f.select(:generaleva, User.all.collect {|user| [user.name]}, {include_blank: true}, class: 'form-control')  %></td>
        </tr>
        <tr>
          <td>3 minutes</td>
          <td>
            <b>Evaluator 1</b><br>
            Evaluate first speech.
          </td>
          <td><%= f.select(:evaluator1, User.all.collect {|user| [user.name]}, {include_blank: true}, class: 'form-control')  %></td>
        </tr>
        <tr>
          <td>3 minutes</td>
          <td>
            <b>Evaluator 2</b><br>
            Evaluate second speech.
          </td>
          <td><%= f.select(:evaluator2, User.all.collect {|user| [user.name]}, {include_blank: true}, class: 'form-control')  %></td>
        </tr>
        <tr>
          <td>3 minutes</td>
          <td>
            <b>Evaluator 3</b><br>
            Evaluate third speech.
          </td>
          <td><%= f.select(:evaluator3, User.all.collect {|user| [user.name]}, {include_blank: true}, class: 'form-control')  %></td>
        </tr>
        <tr>
          <td>3 minutes</td>
          <td>
            <b>Evaluator 4</b><br>
            Evaluate third speech.
          </td>
          <td><%= f.select(:evaluator4, User.all.collect {|user| [user.name]}, {include_blank: true}, class: 'form-control')  %></td>
        </tr>
        <tr>
          <td>3 minutes</td>
          <td>
            <b>Word master conclusion</b><br>
          </td>
          <td>Word master</td>
        </tr>
        <tr>
          <td>3 minutes</td>
          <td>
            <b>Timer conclusion</b><br>
          </td>
          <td>Timer</td>
        </tr>
        <tr>
          <td>2 minutes</td>
          <td>
            <b>Summary</b><br>
          </td>
          <td>Toastmaster</td>
        </tr>
        </tbody>

        <tr>
          <td colspan="3">
            <%= f.label :notes %>
            <%= f.text_area :notes, class: 'form-control' %>

            <%= f.submit 'Save', class: "btn btn-primary" %>
          </td>
        </tr>
      </table>
    </div>

<% end %>
