<% provide :title, 'Agenda' %>

<h1>New Life Toastmaster Agenda</h1>

    <div class="row">
      <div class="col-md-1"><span>For:</span></div>
      <div class="col-md-5">
        <%= @tempagenda.for_date %>
      </div>
      <div class="col-md-2 col-md-offset-4">
        <span class="change_pointer add_margin"><span class="glyphicon glyphicon-print" onclick="window.print()"></span></span>
        <span class="add_margin" style="cursor: not-allowed"><span class="glyphicon glyphicon-envelope"></span></span>
        <span class="add_margin" style="cursor: not-allowed"><span class="glyphicon glyphicon-download-alt"></span></span>
        <span class="add_margin" style="cursor: not-allowed"><span class="glyphicon glyphicon-qrcode"></span></span>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table">
        <tr>
          <th width="10%">Time Slots</th>
          <th width="70%">Role & Description</th>
          <th width="20%">Member</th>
        </tr>

        <tbody>
        <tr>
          <td>2 minutes</td>
          <td>
            <b>Welcomer</b><br>
            Welcome all to the Toastmasters International Meeting and introduce Toastmaster.</td>
          <td><%= @tempagenda.welcomer %></td>
        </tr>
        <tr>
          <td>2 minutes</td>
          <td>
            <b>Toastmaster of the day</b><br>
            During the meeting, TOD introduces each role and organize the meeting.
          </td>
          <td><%= @tempagenda.toastmaster %></td>
        </tr>
        <tr>
          <td>3 minutes</td>
          <td>
            <b>Word master of the day</b><br>
            Introduce a word to people and count 'Ah..Um' times.
          </td>
          <td><%= @tempagenda.wordmaster %></td>
        </tr>
        <tr>
          <td>2 minutes</td>
          <td>
            <b>Timer</b><br>
            Explain timer role and request the speaker to pay attention to your timer flags.
          </td>
          <td><%= @tempagenda.timer %></td>
        </tr>
        <tr>
          <td>3 minutes</td>
          <td>
            <b>Humorist</b><br>
            Start the meeting on a light-hearted note.
          </td>
          <td><%= @tempagenda.humorist %></td>
        </tr>
        <tr>
          <td>5~7 minutes</td>
          <td>
            <b>Speaker 1</b><br>
            Deliver first prepared speech.
          </td>
          <td><%= @tempagenda.speaker1 %></td>
        </tr>
        <tr>
          <td>5~7 minutes</td>
          <td>
            <b>Speaker 2</b><br>
            Deliver second prepared speech.
          </td>
          <td><%= @tempagenda.speaker2 %></td>
        </tr>
        <tr>
          <td>5~7 minutes</td>
          <td>
            <b>Speaker 3</b><br>
            Deliver third prepared speech.
          </td>
          <td><%= @tempagenda.speaker3 %></td>
        </tr>
        <tr>
          <td>5~7 minutes</td>
          <td>
            <b>Speaker 4</b><br>
            Deliver forth prepared speech.
          </td>
          <td><%= @tempagenda.speaker4 %></td>
        </tr>
        <tr>
          <td>15 minutes</td>
          <td>
            <b>Topics master</b><br>
            Come up with topics to make people to talk.
          </td>
          <td><%= @tempagenda.topicmaster %></td>
        </tr>
        <tr>
          <td>3 minutes</td>
          <td>
            <b>General Evaluator</b><br>
            Introduce evaluator, Grammarian, Timer and evaluate the evaluators and the meeting in general.
          </td>
          <td><%= @tempagenda.generaleva %></td>
        </tr>
        <tr>
          <td>3 minutes</td>
          <td>
            <b>Evaluator 1</b><br>
            Evaluate first speech.
          </td>
          <td><%= @tempagenda.evaluator1 %></td>
        </tr>
        <tr>
          <td>3 minutes</td>
          <td>
            <b>Evaluator 2</b><br>
            Evaluate second speech.
          </td>
          <td><%= @tempagenda.evaluator2 %></td>
        </tr>
        <tr>
          <td>3 minutes</td>
          <td>
            <b>Evaluator 3</b><br>
            Evaluate third speech.
          </td>
          <td><%= @tempagenda.evaluator3 %></td>
        </tr>
        <tr>
          <td>3 minutes</td>
          <td>
            <b>Evaluator 4</b><br>
            Evaluate forth speech.
          </td>
          <td><%= @tempagenda.evaluator4 %></td>
        </tr>
        <tr>
          <td>3 minutes</td>
          <td>
            <b>Word master conclusion</b><br>
          </td>
          <td><%= @tempagenda.wordmaster %></td>
        </tr>
        <tr>
          <td>3 minutes</td>
          <td>
            <b>Timer conclusion</b><br>
          </td>
          <td><%= @tempagenda.timer %></td>
        </tr>
        <tr>
          <td>2 minutes</td>
          <td>
            <b>Summary</b><br>
          </td>
          <td><%= @tempagenda.toastmaster %></td>
        </tr>
        </tbody>

      </table>
    </div>
