<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="logo">
      <%= link_to image_tag("logo_m.png",size: "80x66", alt: "Toastmaster logo"), root_path, title: 'Home' %>
      <%= link_to 'New life club', root_path, title: 'Home' %>
    </div>

    <nav id="header-nav">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   help_path %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>